openapi: 3.1.0
info:
  title: Vrc2Link API
  version: 1.0.0
  description: Versioned media resolution, playback, playlist, danmaku, and DASH endpoints.
servers:
  - url: https://vrc2link.luonako.cn
  - url: http://localhost:7890
tags:
  - name: Service
  - name: Media
  - name: Playlists
  - name: Danmaku
  - name: DASH
  - name: Credentials
  - name: Playback Tickets
paths:
  /api/v1:
    get:
      tags: [Service]
      summary: Get API information
      responses:
        '200':
          description: Service metadata in the standard JSON envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
  /api/v1/openapi.yaml:
    get:
      tags: [Service]
      summary: Download this OpenAPI document
      responses:
        '200':
          description: OpenAPI 3.1 YAML document.
          content:
            application/yaml:
              schema:
                type: string
  /api/v1/credentials:
    post:
      tags: [Credentials]
      summary: Store an encrypted Bilibili cookie and issue a key
      description: The generated key is returned once. CK is encrypted at rest using AES-256-GCM and the server's CK_MASTER_KEY; retentionDays is limited to 1–365.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialCreateRequest'
      responses:
        '201':
          description: Credential stored; the bearer key is shown once in the standard JSON envelope.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CredentialKey'
        '400':
          $ref: '#/components/responses/ApiError'
        '413':
          $ref: '#/components/responses/ApiError'
        '429':
          $ref: '#/components/responses/ApiError'
        '503':
          $ref: '#/components/responses/ApiError'
  /api/v1/credentials/current/rotate:
    post:
      tags: [Credentials]
      summary: Rotate the current Bilibili key
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Replacement key returned once; the old key is revoked.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CredentialKey'
        '401':
          $ref: '#/components/responses/ApiError'
  /api/v1/credentials/current:
    delete:
      tags: [Credentials]
      summary: Delete the current CK and revoke its key
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Credential removed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          deleted:
                            type: boolean
        '401':
          $ref: '#/components/responses/ApiError'
  /api/v1/playback-tickets:
    post:
      tags: [Playback Tickets]
      summary: Create a short-lived Bilibili playback URL
      description: Requires a personal Bilibili key in Authorization. The resulting capability is bound to the submitted Bilibili video, live room, or collection and does not contain the key.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackTicketCreateRequest'
      responses:
        '200':
          description: Ticket URL and expiry in the standard JSON envelope.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlaybackTicket'
        '400':
          $ref: '#/components/responses/ApiError'
        '401':
          $ref: '#/components/responses/ApiError'
        '429':
          $ref: '#/components/responses/ApiError'
  /api/v1/playback-tickets/resolve:
    get:
      tags: [Playback Tickets]
      summary: Exchange an optional local Udon key for a short-lived playback URL
      description: VRChat's VRCStringDownloader cannot set Authorization headers, so the local VizVid settings panel uses this narrow exchange endpoint. With a key the ticket carries the matching Bilibili cookie; without a key the request is anonymous. The key is accepted only for this request and the response contains an opaque MPD ticket URL without the key. Keep url as the final query parameter so collection links containing ampersands remain intact.
      parameters:
        - name: key
          in: query
          required: false
          description: Optional personal Vrc2Link key entered in the local player settings. Do not share this request URL.
          schema:
            type: string
        - $ref: '#/components/parameters/Mode'
        - $ref: '#/components/parameters/Quality'
        - $ref: '#/components/parameters/Url'
      responses:
        '200':
          description: Opaque short-lived MPD playback ticket URL.
          content:
            text/plain:
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/ApiError'
        '401':
          $ref: '#/components/responses/ApiError'
        '429':
          $ref: '#/components/responses/ApiError'
  /api/v1/playback-tickets/{ticket}/play:
    get:
      tags: [Playback Tickets]
      summary: Play the media bound to a ticket
      description: Redirects to the selected media or DASH manifest. The opaque URL is the only credential the player receives; it cannot be changed to resolve another source URL. DASH resources remain available for at least media duration plus five minutes, capped at 24 hours.
      parameters:
        - $ref: '#/components/parameters/PlaybackTicket'
      responses:
        '302':
          $ref: '#/components/responses/Redirect'
        '404':
          $ref: '#/components/responses/ApiError'
        '401':
          $ref: '#/components/responses/ApiError'
  /api/v1/playback-tickets/{ticket}/manifest.mpd:
    get:
      tags: [Playback Tickets]
      summary: Return the MPD bound to a ticket
      description: Returns the DASH manifest directly. The `.mpd` URL lets VRChat hand the separate audio and video adaptations to AVPro instead of reducing the ticket to a video-only URL.
      parameters:
        - $ref: '#/components/parameters/PlaybackTicket'
      responses:
        '200':
          description: DASH manifest for the ticket.
          content:
            application/dash+xml:
              schema:
                type: string
        '302':
          description: A single-file fallback when the ticket's requested mode cannot use DASH.
          headers:
            Location:
              required: true
              schema:
                type: string
                format: uri
        '404':
          $ref: '#/components/responses/ApiError'
        '401':
          $ref: '#/components/responses/ApiError'
  /api/v1/media/resolve:
    get:
      tags: [Media]
      summary: Resolve a media URL
      description: Returns normalized media metadata and available direct streams. JSON responses use the standard envelope.
      security:
        - {}
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Url'
        - $ref: '#/components/parameters/Mode'
        - $ref: '#/components/parameters/Quality'
      responses:
        '200':
          description: Resolved media metadata.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Media'
        '400':
          $ref: '#/components/responses/ApiError'
        '401':
          $ref: '#/components/responses/ApiError'
        '422':
          $ref: '#/components/responses/ApiError'
        '429':
          $ref: '#/components/responses/ApiError'
  /api/v1/play:
    get:
      tags: [Media]
      summary: Redirect to playable media
      description: Redirects to a direct stream or DASH manifest. A playlist URL starts its current item or the first item and also establishes the current playlist session.
      security:
        - {}
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Url'
        - $ref: '#/components/parameters/Mode'
        - $ref: '#/components/parameters/Quality'
      responses:
        '302':
          $ref: '#/components/responses/Redirect'
        '400':
          $ref: '#/components/responses/ApiError'
        '401':
          $ref: '#/components/responses/ApiError'
        '422':
          $ref: '#/components/responses/ApiError'
        '429':
          $ref: '#/components/responses/ApiError'
  /api/v1/playlists/resolve:
    get:
      tags: [Playlists]
      summary: Resolve a playlist URL
      security:
        - {}
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Url'
      responses:
        '200':
          description: Resolved playlist in the standard JSON envelope.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Playlist'
        '400':
          $ref: '#/components/responses/ApiError'
        '422':
          $ref: '#/components/responses/ApiError'
  /api/v1/playlists/current:
    get:
      tags: [Playlists]
      summary: Get the current playback playlist
      responses:
        '200':
          description: Current playlist manifest in the standard JSON envelope.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlaylistManifest'
        '409':
          $ref: '#/components/responses/ApiError'
  /api/v1/playlists/current/items/{index}:
    get:
      tags: [Playlists]
      summary: Play a playlist item
      description: Uses the mode and quality saved by the current playback session.
      parameters:
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
      responses:
        '302':
          $ref: '#/components/responses/Redirect'
        '400':
          $ref: '#/components/responses/ApiError'
        '409':
          $ref: '#/components/responses/ApiError'
        '422':
          $ref: '#/components/responses/ApiError'
  /api/v1/danmaku/current/video/segments/{segment}:
    get:
      tags: [Danmaku]
      summary: Get a Bilibili video danmaku segment
      parameters:
        - name: segment
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 240
      responses:
        '200':
          description: Danmaku messages in the standard JSON envelope.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DanmakuResult'
        '409':
          $ref: '#/components/responses/ApiError'
        '422':
          $ref: '#/components/responses/ApiError'
  /api/v1/danmaku/current/live:
    get:
      tags: [Danmaku]
      summary: Get new Bilibili live danmaku
      responses:
        '200':
          description: New danmaku messages in the standard JSON envelope.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DanmakuResult'
        '409':
          $ref: '#/components/responses/ApiError'
        '422':
          $ref: '#/components/responses/ApiError'
  /api/v1/dash/{ticket}/manifest.mpd:
    get:
      tags: [DASH]
      summary: Get the DASH manifest
      parameters:
        - $ref: '#/components/parameters/Ticket'
      responses:
        '200':
          description: MPEG-DASH MPD document.
          content:
            application/dash+xml:
              schema:
                type: string
                format: xml
        '404':
          $ref: '#/components/responses/ApiError'
  /api/v1/dash/{ticket}/video:
    get:
      tags: [DASH]
      summary: Redirect to the DASH video track
      parameters:
        - $ref: '#/components/parameters/Ticket'
      responses:
        '302':
          $ref: '#/components/responses/Redirect'
        '404':
          $ref: '#/components/responses/ApiError'
  /api/v1/dash/{ticket}/audio:
    get:
      tags: [DASH]
      summary: Redirect to the DASH audio track
      parameters:
        - $ref: '#/components/parameters/Ticket'
      responses:
        '302':
          $ref: '#/components/responses/Redirect'
        '404':
          $ref: '#/components/responses/ApiError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Global API key for legacy server-configured cookies, or a personal Bilibili credential key for credential and playback-ticket operations.
  parameters:
    Url:
      name: url
      in: query
      required: true
      description: URL-encoded platform media or playlist URL, or supported share text.
      schema:
        type: string
        format: uri
    Mode:
      name: mode
      in: query
      required: false
      description: single returns one combined stream, dash creates an MPD, and auto selects DASH for Bilibili video.
      schema:
        type: string
        enum: [single, dash, auto]
        default: single
    Quality:
      name: quality
      in: query
      required: false
      description: Exact requested quality. Unavailable qualities return 422 without silent fallback.
      schema:
        type: string
    Ticket:
      name: ticket
      in: path
      required: true
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{32}$'
    PlaybackTicket:
      name: ticket
      in: path
      required: true
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{43}$'
  schemas:
    Envelope:
      type: object
      required: [data, meta]
      properties:
        data:
          description: Endpoint response data.
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      required: [apiVersion, requestId]
      properties:
        apiVersion:
          type: string
          const: '1'
        requestId:
          type: string
          format: uuid
    CredentialCreateRequest:
      type: object
      required: [cookie, retentionDays]
      properties:
        cookie:
          type: string
          minLength: 1
          maxLength: 16384
          writeOnly: true
        retentionDays:
          type: integer
          minimum: 1
          maximum: 365
    CredentialKey:
      type: object
      required: [key, expiresAt, revealOnce]
      properties:
        key:
          type: string
          format: password
          description: Bearer key. Save it now; it cannot be recovered.
        expiresAt:
          type: integer
          format: int64
        retentionDays:
          type: integer
        revealOnce:
          type: boolean
          const: true
    PlaybackTicketCreateRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: Bilibili video, live room, or collection URL.
        mode:
          type: string
          enum: [auto, dash, single]
          default: auto
        quality:
          type: string
          description: Optional exact quality, such as 1080p. Omit for the highest quality available to this account.
    PlaybackTicket:
      type: object
      required: [playUrl, expiresAt, expiresInSeconds, mode, quality]
      properties:
        playUrl:
          type: string
          format: uri
        expiresAt:
          type: integer
          format: int64
        expiresInSeconds:
          type: integer
        mode:
          type: string
        quality:
          type: string
    ErrorEnvelope:
      type: object
      required: [error, meta]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
        meta:
          $ref: '#/components/schemas/Meta'
    Media:
      type: object
      required: [platform, type]
      properties:
        platform:
          type: string
        type:
          type: string
        qualities:
          type: array
          items:
            type: string
        streams:
          type: array
          items:
            type: object
            additionalProperties: true
        dash:
          type: object
          additionalProperties: true
      additionalProperties: true
    Playlist:
      type: object
      required: [platform, type, playlist]
      properties:
        platform:
          type: string
        type:
          const: playlist
        playlist:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              sourceUrl:
                type: string
                format: uri
            additionalProperties: true
      additionalProperties: true
    PlaylistManifest:
      type: object
      required: [type, title, count, currentIndex, autoPlay, entries]
      properties:
        type:
          const: playlist
        title:
          type: string
        count:
          type: integer
          minimum: 0
        currentIndex:
          type: integer
          minimum: 0
        autoPlay:
          type: boolean
        entries:
          type: array
          items:
            type: object
            required: [title]
            properties:
              title:
                type: string
      additionalProperties: true
    DanmakuResult:
      type: object
      required: [platform, mode, messages]
      properties:
        platform:
          type: string
        mode:
          type: string
          enum: [video, live]
        segment:
          type: integer
        segmentSeconds:
          type: integer
        messages:
          type: array
          items:
            type: object
            required: [id, time, mode, color, text]
            properties:
              id:
                type: string
              time:
                type: number
              mode:
                type: integer
              color:
                type: integer
              text:
                type: string
      additionalProperties: true
  responses:
    ApiError:
      description: Standard JSON error envelope. The exact error code identifies the failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Redirect:
      description: Redirect to the selected media or CDN resource.
      headers:
        Location:
          required: true
          schema:
            type: string
            format: uri
